p {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
#demo{
    color:red;
    font-size: larger;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}
a{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
a:hover{
    color: aqua;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.container-fluid
{
    text-align: center;
    border-style: double;
    color: red;
    background-color: aqua;
}

a.dropdown-menu
{
    color: red;
    border: 2cm;
    border-color: red;
}
