p {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
#demo{
    color: red;
    font-size: larger;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}
a{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
a:hover{
    color: aqua;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.container-fluid
{
    color: red;
    border-color: blue;
    text-align: center;
}
a.navbar-brand
{
    color: blue;
}
p.footer
{
    text-align: left;
}
a.dropdown-menu
{
    color: red;
}