{% extends 'store/_Master.html' %} <!--Lay tu trang store/_Master.html Header va Footer-->
<head>
    {%load static%}
    <link href="{% static 'store/css/style.css' %}" rel="stylesheet">
</head>

{%block main_content%}

<body>
    <div class="container-fluid" style="margin:10px;text-align:center">
        <h1>MÁY TÍNH ĐỂ BÀN</h1>
    </div>

    <div class="container-fluid" style="margin:10px;text-align:center">
        <h1>LAP TOP</h1>
    </div>

    <div class="container-fluid" style="margin:10px; text-align:center">
        <h1>DỊCH VỤ KHÁC</h1>
    </div>

    <div class="container-fluid">
        <p id="demo">A Paragraph.</p>
        <button type="button" onclick="myFunction()">Try it</button>
    </div>

    
</body>

{%endblock%}
