{% extends 'store/_Master.html' %} <!--Lay tu trang store/_Master.html Header va Footer-->

{%block main_content%}
{%load static%}
<body>
    <div class="container-fluid">
        <h1>MÁY TÍNH ĐỂ BÀN</h1>
    </div>

    <div class="container-fluid">
        <h1>LAP TOP</h1>
    </div>

    <div class="container-fluid">
        <h1>DỊCH VỤ KHÁC</h1>
    </div>

    <div class="container-fluid">
        <p id="demo">A Paragraph.</p>
        <button type="button" onclick="myFunction()">Try it</button>
    </div>

    
</body>

{%endblock%}
