<!doctype html>
<html lang="en">

<head>
    <title>Index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>ĐÂY LÀ NỘI DUNG CỦA TRANG INDEX.HTML</h1>
        </div>

        <p>{{ Tong }}</p>
        <p><strong>{{ Cau_chao }}</strong></p>

        <div>
            {% if DTB >= 5 %}
            <p>Bạn đã thi đạt</p>
            {% else %}
            <p>Bạn đã thi trượt</p>
            {% endif %}
        </div>

        <div>
            <ol>
                {% for san_pham in DS_San_pham %}
                <li>{{ san_pham }}</li>
                {% endfor %}
            </ol>
        </div>

        <div>
            {% for key, value in Hoc_sinh.items %}
            <p>{{ key }} - {{ value }}</p>
            {% endfor %}
        </div>

        <hr>

        {% comment %} <div>
            <p>Mã số: {{ Hoc_sinh.Ma_so }}</p>
            <p>Họ tên: {{ Hoc_sinh.Ho_ten }}</p>
            <p>Địa chỉ: {{ Hoc_sinh.Dia_chi }}</p>
            <p>Ngày sinh: {{ Hoc_sinh.Ngay_sinh }}</p>
            <p>Email: {{ Hoc_sinh.Email }}</p>
        </div> {% endcomment %}

        <hr>

        <div class="text-center">
            <h3>DANH SÁCH HỌC SINH ({{ DS_hoc_sinh|length }})</h3>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã số</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>

                    {% for hoc_sinh in DS_hoc_sinh %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ hoc_sinh.Ma_so }}</td>
                            <td>{{ hoc_sinh.Ho_ten }}</td>
                            <td>{{ hoc_sinh.Dia_chi }}</td>
                            <td>{{ hoc_sinh.Ngay_sinh }}</td>
                            <td>{{ hoc_sinh.Email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <p>{{ Cau_chao|lower }}</p>

        <p>{{ Cau_chao|upper }}</p>

        <p>{{ Cau_chao|truncatewords:4|upper }}</p>

        <p>{{ Cau_chao|truncatechars:6 }}</p>

        <p>{{ Ngay_hien_hanh|date:"d-b-Y H:i" }}</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>